body {
	margin: 0px 0px 0px 0px;
}
section {
	height: 100vh;
	width: 100vw;
	background-size: cover;
	align-content: center;
	justify-content: center;
	text-align: center;
	background-image: cover;
}

p {
	margin: 0;
	font-family: adobe-garamond-pro;
	font-size: 1.5em;
}

#menu {
	background: black;
}

#top {
	background-image: url('top.jpg');
}


#top #top-content {
	position: absolute;
	text-align: center;
	top: 40%;
	width: 100%;
	color: white;
}

#top h1 {
	justify-content: center;
	font-size: 5em;
}

#top p {
	align-self: center;
	font-style: italic;
}

#get-started {
	position: absolute;
	bottom: 10vh;
	left: 47vw;
}

/* Downward arrow symbol */
i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
	transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#timer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	font-size: 40px;
	height: 40vh;
}

#timer label {
	padding: 0px 3px 0px 3px;
}

#timer .container {
	padding: 2vh 2vh 2vh 2vh;
	top: 50%;
}

#intro {
	background-color: gray;
}

#intro-content {
	position: relative;
	top: 30%;
	color: white;
	align-items: center;
	justify-content: center;
	align-self: center;
}

.intro-para {
	text-align: center;
}

#intro1 {

}

#footer {
	height: 0;
}

#footer-bar {
	margin: 0;
}

#footer-bar li {
	align-self: center;
}