body {
	margin: 0px 0px 0px 0px;
}

section {
	height: 100vh;
	width: 100vw;
	background-size: cover;
	text-align: center;
	background-image: cover;
}

div {
	overflow: scroll;
}

p {
	margin: 0;
	font-family: adobe-garamond-pro;
	font-size: 1.5em;
	font-style: italic;

}

h1 {
	font-size: 7vh;
}

h2 {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
}

a {
	display: block;
	height: auto;
}

nav div {
	overflow: visible;
}

#menu {
	background: black;
}

#top {
	background-image: url('top.jpg');
}


#top-content {
	width: 100%;
	color: white;
}

#top-total {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#get-started {
	position:absolute;
	bottom: 10vh;
	left: 47vw;
}

/* Downward arrow symbol */
i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: none;
    padding: 3px;
}

.down {
	transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#timer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	font-size: 40px;
	height: 40vh;
}

#timer label {
	padding: 0px 3px 0px 3px;
	height: auto;
}

#timer .container {
	padding: 2vh 2vh 2vh 2vh;
	top: 50%;
	height: 100%;
}

#intro {
	background-color: gray;
}

#intro-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 80%;
}

.intro-para {
	position: relative;
	top: 40%;
	text-align: center;
}

#footer {
	height: 0;
}

#footer-bar {
	margin: 0;
}

#footer-bar li {
	align-self: center;
}

#contact {
	background-image: url('contact-bg.jpg')
}

#contact .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

/* About section */

#about-top {
	background-image: url('about-main.jpg');
	color: white;
}

#about-top-content {
	position: relative;
	top: 40%;
}

#about-main p {
	font-size : 2em;
}

#about-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 80%;
}

.about-para {
	position: relative;
	top: 40%;
	text-align: center;
}

/* Experience Section */

#experience-top {
	background-image: url('experience.jpg');
	color: black;
}

#experience-top-content {
	position: relative;
	top: 40%;
}

#experience-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 80%;
}

.experience-para {
	position: relative;
	top: 40%;
	text-align: center;
}

/* Reach out section */

#reach-out-top {
	background-color: gray;
}

#reach-out-top .container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	top: 20%;
}

#reach-out-top h2 {
	position: relative;
	top: 10%;
}

#inform {
	display: none;
}

#reach-out div {
	overflow: scroll;
}

p a {
	display: inline;
}
